# MongoDB Connection String (Atlas Cloud or Local Community Server)
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/smart_study_db?retryWrites=true&w=majority
# Or Local: mongodb://localhost:27017/smart_study_db
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.a8wl8vu.mongodb.net/smart_study_db?retryWrites=true&w=majority

# Database Name
DB_NAME=smart_study_db

# Admin Dashboard Password (used to access the Admin Panel)
ADMIN_PASSWORD=admin123

# Passing marks threshold (out of 40)
PASSING_MARKS=16
